:root {
    --main-text-cl-light-theme: #111111;
    --main-text-cl-dark-theme: #FFFFFF;
    --secondary-text-cl: #b4afaf;
    --accent-cl: #4f2ee8;
    --secondary-accent-cl: #EAC645;
    --main-bg-cl: #F6F6F6;
    --main-bg-cl-dark-theme: #202024;
  
    --transform-scale: 1.015;
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --height-header: 74px;
  }