<header class="header">
    <div class="container header-wrapper">
        <a class="logo-link" href="./index.html">
            <svg class="logo" width="24" height="24">
                <use href="././images/icons/sprite.svg#icon-logo"></use>
            </svg>
            <svg class="logo" width="77" height="13">
                <use href="././images/icons/sprite.svg#icon-bookshelf"></use>
            </svg></a>
        <nav class="nav">
            <ul class="list nav-list">
                <li class="nav__item"> <a class="nav__link_home current__page" href="./index.html"
                        aria-label="Link to home page">Home</a> </li>
                <li class="nav__item"> <a class="nav__link_shopping" href="./shopping.html"
                        aria-label="Link to Shopping list">Shopping list <svg class="icon-cart" width="20" height="20">
                            <use href="././images/icons/sprite.svg#icon-cart"></use>
                        </svg></a></li>
            </ul>
        </nav>
    </div>
    <!-- <div class="header-btns"> -->
    <!-- <div class="toggler-wrap">
                <label class="toggler">
                    <input type="checkbox" class="toggler__input" />
                    <span class="toggler__slider"></span>
                </label>
            </div> -->

</header>